<%- include('../partials/_headers');  %> 
<div class="block"></div>
<div class="block"></div>

<div class="columns">
  <div class="column is-8 is-offset-2">
      <%- include ('../partials/_card',{all})%>
  </div>
</div>